
$black:  #1c1c1c;
$white:  #fff;
$accent: #aeaeae;

$gray1: lighten($black, 32%);
$gray2: lighten($black, 42%);
$gray3: lighten($black, 52%);

$roman: 400;
$bold: 600;

$typecolor: $black;
$fontstack: "Neue Haas Grotesk Text", Helvetica Neue, Helvetica, sans-serif;
$titlestack: "Neue Haas Grotesk Display", $fontstack;
$fontweight: $roman;
$titleweight: $bold;